{{ define "footer" }}
<script src="/assets/js/jquery.min.js" type="application/javascript"></script>
<script src="/assets/vendor/js-cookie/js.cookie.js" type="application/javascript"></script>
<script src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js" type="application/javascript"></script>
<script src="/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js" type="application/javascript"></script>
<script src="/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
<script src="/assets/vendor/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="/assets/vendor/sweetalert2/dist/sweetalert2.min.js"></script>
<script src="/assets/js/argon.js?v=1.1.0" type="application/javascript"></script>
<script src="/assets/js/sweetalert2.js?" type="application/javascript"></script>
<script src="/assets/js/preloader.js?" type="application/javascript"></script>
</body>
</html>
{{ end }}
