<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Laporan</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="/barang">Data Barang</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Laporan</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-6 mx-auto">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <div class="row">
                        <div class="col-6">
                            <h3 class="mb-0">Laporan</h3>
                        </div>
                        <div class="col-6 text-right">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form action="">
                        <div class="form-group">
                            <label for="dari">Dari :</label>
                            <input type="date" class="form-control" id="dari" name="dari">
                        </div>
                        <div class="form-group">
                            <label for="sampai">Sampai :</label>
                            <input type="date" class="form-control" id="sampai" name="sampai">
                        </div>
                        <div class="form-group">
                            <label for="tipe">Tipe :</label>
                            <select name="tipe" id="tipe" class="form-control">
                                <option value="masuk">Barang Masuk</option>
                                <option value="keluar">Barang Keluar</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Print" class="btn btn-md btn-primary" name="dari">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{{template "footer"}}